<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601903282788-bo3arhuk7fofhcn0175deouk4ju4fle3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601903282788-bo3arhuk7fofhcn0175deouk4ju4fle3</string>
	<key>API_KEY</key>
	<string>AIzaSyBLOB4CMsbifomSRoC0Wq0V6OCj_F9gmsI</string>
	<key>GCM_SENDER_ID</key>
	<string>601903282788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.navauth</string>
	<key>PROJECT_ID</key>
	<string>navauth-71ab3</string>
	<key>STORAGE_BUCKET</key>
	<string>navauth-71ab3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601903282788:ios:42112804e00c03d3e9bd71</string>
</dict>
</plist>